<!--Josh Heida 30064491
COMP 229 Sec 2 Assignment 1-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./Content/app.css'>
    <link rel = 'stylesheet' href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel = 'stylesheet' href="./@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    <header>
      <!--navigation-->
      <%- include('components/navbar.ejs'); %>
    </header>
    <main>
      <%- include('content/' + page + '.ejs'); %>
    </main>
    <footer>
      <%- include('components/footer.ejs'); %>
    </footer>
    <!--Scripts-->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script src = "./Scripts/app.js"></script>
  </body>
</html>
