<h2 id="aboutTitle">Joshua Heida</h2>
<div id="about-container">
    
    <ul id="aboutContent">
        <li><p>Josh Heida is a full-stack web developer with a focus in U/X design. He leverages his background in film production and visual design to ensure a high-quality front-end experience while delivering solid back-end coding for a reliable system.</p></li>
        <li><p>Josh is passionate about understanding how people innterface with computer systems and how the experience can be improved. By utilizing this along with his ability to quickly grasp complex concepts and sets of information, he is able to come up with effective solutions for a wide variety of problems.</p></li>
    </ul>
    <img src="./Assets/photo.png" id="aboutPhoto">
    <a id="pdfButton" class="btn btn-success" href="./Assets/Jheida_Resume_2022.pdf" role="button">Resume</a>
</div>