<h1 class="page_title"> </h1>
<div class="page-head">  <p id="tagline">Form = Function</p></div>
<div class="containerbox">
<div class="card" style="width: 18rem;">
    <img src="./Assets/Photo.png" class="card-img-top-bg-success" alt="photo of Josh Heida">
    <div class="card-body">
      <h5 class="card-title">Josh Heida</h5>
      <p class="card-text">Josh Heida is a Full Stack Web deceloper specializing in UX and Project Management. </p>
      <a href="/about" class="btn btn-success">About Me </a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./Assets/laptopCoding.png" class="card-img-top-bg-success" alt="photo of Josh Heida">
    <div class="card-body">
      <h5 class="card-title">Exciting New Developments</h5>
      <p class="card-text">Take a look at my current and past projects. </p>
      <a href="/projects" class="btn btn-success">Projects</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./Assets/lightbulb.png" class="card-img-top-bg-success" alt="photo of Josh Heida">
    <div class="card-body">
      <h5 class="card-title">See What I Can Offer You</h5>
      <p class="card-text">A variety of services available for a range of budgets. </p>
      <a href="/services" class="btn btn-success">Services</a>
    </div>
</div>
