<h2 id="projectsTitle">Projects</h2>
<div id="projectsContainer">
    <div id="project1" class="projectList">
        <h3>LOKI to Softworks Implementation</h3>
        <h4>Lake of the Woods District Hospital</h4>
        <p>This project was to migrate hospital scheduling softweare from LOKI to Sharepoint.</p>
        <h5>Responsibilities:</h5>
        <ul><li>Configure Softworks to ensure necessary functionality</li>
        <li>Develop Training Materials for staff on software usage</li>
        <li>Troubleshoot Issues as they arise</li></ul>
    </div>
    <div id="project2" class="projectList">
        <h3>MS Sharepoint Implementation and Development</h3>
        <h4>Lake of the Woods District Hospital</h4>
        <p>This project is to move the hospital's intranet and consolidate functionality of depreceated software into the Microsoft Sharepoint Ecosystem</p>
        <h5>Responsibilities:</h5>
        <ul><li>Develop PowerApps to replace paper Workflows</li>
        <li>Migrate the hospital's policy library to SharePoint</li>
        <li>Migrate departmental file-sharing to SharePoint</li></ul>
        <li>Duplicate functionality of outdated applications within a SharePoint Site</li>
    </div>
    <div id="project3" class="projectList">
        <h3>Secondhand Textbook Store Application</h3>
        <h4>Centennial College</h4>
        <p>Planning of a peer-to-peer book marketplace.</p>
        <h5>Responsibilities:</h5>
        <ul><li>Lead project meetings and delegate work appropriately</li>
        <li>Primary editor of SRS documentation<li>
    </div>
</div>