<!--service.ejs josh heida 300644912 June 20 2022-->
<h2 id="serviceTitle">Services</h2>
<div id="serviceContainer">
<ul>
    <li>Full Stack Web Development
        <ul class="serviceSublist">
            <li>Develop clean and efficient websites from front to back.</li>
            <li>Elegant visuals with a robust backend to help promote your buisness.</li>
        </ul>
    </li>
    <li>U/X Design</li>
    <ul class="serviceSublist">
        <li>Ensure the best experience for the users of your application.</li>
        <li>A data driven, visually inspired approach to your UI.</li>
    </ul>
    <li>General Programming</li>
    <ul class="serviceSublist">
        <li>Get your application off the ground.</li>
        <li>Able to fill any gap on your programming team.</li>
    </ul>
</ul>
<img src="./Assets/gen-programming.png" id="general">
<img src="./Assets/ui-planning.png" id="planning">
</div>